{% extends "my_account.html" %}

{% block title %}My Balance{% endblock %}

{% block account_content %}

<div class="mt-4 col-md-6">
    
    
    <h4 class="mb-3"><span class="muted-text">My current balance:</span> {{balance}} €</h4>
    <p>You can easily add funds to your account</p>
    <form method="POST" action="{{ url_for('main.my_balance') }}" novalidate>
        <!-- CSRF Token -->
        {{ form.hidden_tag() }}
    
        <div class="input-group mb-3 mt-2">
            <label for="balance" class="sr-only">Add amount to your balance</label>
            {{ form.balance(class_="form-control", type_="number", placeholder="Add amount") }}
            <div class="input-group-append">
                <button class="btn btn-outline-ss" type="submit">Add</button>
            </div>
        </div>
    
        {% if form.balance.errors %}
        <div class="text-danger">
            {% for error in form.balance.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}