{% extends "shared/main_layout.html" %}

{% block title %}Lost Password{% endblock %}

{% block content %}
    <h2>Reset Your Password</h2>
    
    <div id="password-reset-form">
        <p>Lost your password? Please enter your username or email address. You will receive a link to create a new password via email.</p>
        <form action="{{ url_for('main.lost_password') }}" method="POST" id="reset-form" onsubmit="return showSuccessMessage(event)">
            <div class="input-group col-md-4 mb-3">
                <input type="email" class="form-control" placeholder="Enter your email" id="email" name="email" >
            </div>
            <button type="submit" class="btn btn-primary">Send Reset Link</button>
        </form>
    </div>

    <div id="success-message" style="display: none;">
        <p>Your password reset link has been sent. Please check your email.</p>
        <a href="{{ url_for('main.index') }}" class="btn btn-primary">Back to Home</a>
    </div>

    <script>
        function showSuccessMessage(event) {
            event.preventDefault();
            document.getElementById("password-reset-form").style.display = "none";
            document.getElementById("success-message").style.display = "block";
        }
    </script>
{% endblock %}
