{% extends "shared/main_layout.html" %}

{% block title %}My account{% endblock %}

{% block content %}
<h2>My account</h2>
<p>
    Hello User (not User? Log out)
</p>
<p>
    From your account dashboard you can view your recent orders, manage and view your ballance, edit your account details.
</p>
<div class="row">
    <div class="col-sm mb-3">
       Account details 
    </div>
    <div class="col-sm mb-3">
        My Orders
    </div>
    <div class="col-sm mb-3">
        My Balance
    </div>


</div>
{% endblock %}