{% extends "shared/main_layout.html" %}

{% block title %}My account{% endblock %}

{% block content %}
<div class="my-account-wrapper">
    <div class="my-account-sidebar">
        <h4>My Account</h4>
        <nav>
            <ul>
                <li>
                    <a href="{{ url_for('main.my_details') }}" title="">Account details</a>
                </li>
                <li>
                    <a href="{{ url_for('main.my_orders') }}" title="">My Orders</a>
                </li>
                <li>
                    <a href="{{ url_for('main.my_balance') }}" title="">My Balance</a>
                </li>
                <li>
                    <a href="{{ url_for('main.logout') }}" title="">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="my-account-content">
        {% block account_content %}
        <h2>My account</h2>
        <p>
            Hello, <b>{{ current_user.first_name }}</b> (not <b>{{ current_user.first_name }}</b>? <a href="{{ url_for('main.logout') }}">Log out</a>)
        </p>
        <p>
            From your account dashboard, you can view your recent orders, manage and view your balance, edit your
            account details.
        </p>
        <div class="my-account-links grid-g">
            <div class="acc-link-element">
                <a href="{{ url_for('main.my_details') }}" title="">
                    <div class="img-wrapper">
                        <img src="{{ url_for('static', filename='images/user.png') }}" alt="" class="icon-svg">
                    </div>
                    <span>Account details</span>
                </a>
            </div>
            <div class="acc-link-element">
                <a href="{{ url_for('main.my_orders') }}" title="">
                    <div class="img-wrapper">
                        <img src="{{ url_for('static', filename='images/orders.png') }}" alt="">
                    </div>
                    <span>My Orders</span>
                </a>
            </div>
            <div class="acc-link-element">
                <a href="{{ url_for('main.my_balance') }}" title="">
                    <div class="img-wrapper">
                        <img src="{{ url_for('static', filename='images/money.png') }}" alt="">
                    </div>
                    <span>My Balance</span>
                </a>
            </div>
        </div>
        {% endblock %}
    </div>
</div>
{% endblock %}

<script>
    // Add click event listener to make each div clickable
    document.querySelectorAll('.acc-link-element').forEach(function (linkElement) {
        linkElement.addEventListener('click', function () {
            // Find the <a> tag within the clicked div and trigger a click on it
            var anchor = this.querySelector('a');
            if (anchor) {
                anchor.click();
            }
        });
    });
</script>