{% extends "my_account.html" %}

{% block title %}My Orders{% endblock %}

{% block account_content %}
<h2>My Orders</h2>
<p>Here are your orders.</p>
{%if orders %}
<div class="mt-4">
    <p>
        <strong>total sale EUR:</strong> {{ total }}
    </p>
    <p>
        <strong>{{orders[0].email}}</strong>
    </p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Status / Created At</th>
                <th>Loyalty discount</th>
                <th>Items / Review qty</th>
                <th>Total Amount</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>
                    <div class=""> {{ order.status }}</div>
                    <div class="text-muted">
                        <small>
                            {{ order.created_at }}
                        </small>
                    </div>
                </td>
                <td>{{ order.loyalty_discount }}</td>
                <td>
                    <div class="">Items: {{ order.count_items }}</div>
                    <div class="">All qty: {{ order.total_qty }}</div>
                    <div class="text-muted">
                        <small>
                            Total reviews {{order.count_reviews}}
                        </small>
                    </div>
                </td>
                <td>{{ order.total_amount }}</td>
                <td> <a href="{{url_for('main.my_order_items', order_id=order.id)}}" class="btn btn-primary">View</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No orders found for the selected date range.</p>
    {% endif %}
</div>
{% endblock %}