{% extends "my_account.html" %}

{% block title %}My Orders{% endblock %}

{% block account_content %}
<h2>My Orders</h2>
<p>Here are your orders.</p>
{% if order %}
<div class="mt-4">
    <div class="">
        <small>
            <a href="{{url_for('main.my_orders')}}" class="">
                < orders</a>
        </small>

    </div>
    <div class="mt-3">
        <div class="text-muted">User:</div>
        {{order.email}}
    </div>
    <div class="mt-3">
        <div class=""><span class="text-muted">Order ID:</span> {{order.id}}</div>
        <div class=""><span class="text-muted">Loyalty discount:</span> {{order.loyalty_discount}}</div>
        <div class=""><span class="text-muted">Total amount:</span> {{order.total_amount}}</div>
        <div class=""><span class="text-muted">Date:</span> {{order.created_at}}</div>
    </div>
    <div class="mt-3">
        <div><span class="text-muted">Current status:</span> {{ order.status }} </div>




    </div>
    <div class="mt-4">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Review</th>


                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>
                        <div class=""><span class="text-muted">Title:</span> {{item.product_name}}</div>
                        <div class=""><span class="text-muted">Unit price:</span> {{item.unit_price}}</div>
                        <div class=""><span class="text-muted">Ordered qty:</span> {{item.qty}}</div>
                        <div class=""><span class="text-muted">Total:</span> {{item.total_price}}</div>

                    </td>
                    <td class="wrap-text">

                        {% if item.review_id %}
                        <div class=""><span class="text-muted">Rating:</span> {{item.rating}}</div>
                        <div class="mt-1"><span class="text-muted">Content:</span></div>
                        <div class="mb-2">
                            {{item.content}}
                        </div>
                        <a href="{{url_for('main.my_item_review', order_id=order.id, item_id=item.id)}}"
                            class="btn btn-secondary">View /
                            Edit</a>
                        {% else %}
                        <button class="btn btn-secondary btn-sm" disabled>review not created
                        </button>
                        <div class="mt-3">
                            <a href="{{url_for('main.my_item_review', order_id=order.id, item_id=item.id)}}"
                                class="btn btn-primary">Create</a>
                        </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No orders found for the selected date range.</p>
        {% endif %}
    </div>
</div>
{% endblock %}