<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/e90760b12c.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>{% block title %}Smile Shop Page{% endblock %}</title>
    <style>
        .wrap-text {
            width: 50%;
            /* Limit width to 50% of the table */
            word-wrap: break-word;
            /* Break words if necessary */
            white-space: normal;
            /* Allow wrapping */
        }
    </style>
</head>

<body>
    <header>
        <div class="container nav-bar">
            <div class="header-logo">
                <a href="{{ url_for('main.index') }}" title="">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
                </a>
                <h1>Jev Sav</h1>
            </div>
            <nav class="nav">
                {% if current_user.is_authenticated %}
                <span class="nav-link">Hello, {{ current_user.first_name }}</span>
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-user"></i> 
                        My account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="{{ url_for('main.my_acc') }}">My account</a>
                      <a class="dropdown-item" href="{{ url_for('main.my_balance') }}" title="">My Balance</a>
                      <a class="dropdown-item" href="{{ url_for('main.my_orders') }}" title="">My Orders</a>
                      <a class="dropdown-item" href="{{ url_for('main.logout') }}">Logout</a>
                    </div>
                  </div>
                  {% if current_user.is_admin %}
                        <a class="nav-link" href="{{ url_for('admin.index') }}"><i class="fa-solid fa-gauge-high"></i> Admin Panel</a>
                   {% endif %}
                   <a class="nav-link" href="{{ url_for('main.my_balance') }}">
                    {{current_user.get_balance()}} €
                </a>
                {% else %}
                <a class="nav-link" href="{{ url_for('main.login') }}"><i class="fa-solid fa-right-to-bracket"></i> Sign in</a>
                {% endif %}
                <a class="nav-link" href="{{ url_for('main.cart') }}">
                    <i class="fa-solid fa-cart-shopping"></i> Cart
                    {% if g.cart_quantity > 0 %}
                    <span class="badge badge-pill badge-dark">{{ g.cart_quantity }}</span>
                    {% endif %}
                </a>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div>
                    {% for category, message in messages %}
                    <div class="alert mt-3 alert-{{ category.split()[-1] }} alert-dismissible fade show" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
        </div>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% block footer %}
        <div class="container">
            &copy; Copyright 2024 by Our Wonderful Team</a>.
        </div>
        {% endblock %}
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalMessage">Product Added to Cart</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                     What would you like to do next?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-ss"
                        onclick="window.location.href='{{ url_for('main.index') }}'">Continue Shopping</button>
                    <button type="button" class="btn btn-ss"
                        onclick="window.location.href='{{ url_for('main.cart') }}'">Go to Cart</button>
                </div>

            </div>
        </div>
    </div>

    <!-- JavaScript -->

    <script>
        function showCartModal() {
            $('#cartModal').modal('show');
        }

        function addToCart(event, productId) {
            event.preventDefault();

            var form = document.getElementById('add-to-cart-form-' + productId);
            var formData = new FormData(form);

            $.ajax({
                type: 'POST',
                url: '/add_to_cart/' + productId,
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    if (response.error) {
                        $('#modalMessage').text(response.error);  // Show error in the modal
                    } else {
                        $('#modalMessage').text(response.message);  // Show success message in the modal
                    }
                    showCartModal();  // Show the modal after response
                },
                error: function(xhr, status, error) {
                    $('#modalMessage').text("An error occurred: " + error);  // Handle AJAX errors
                    showCartModal();
                }
            });
        }
    </script>
</body>

</html>